# Remark42 댓글 서버
comments.junghanacs.com {
    reverse_proxy remark42:8080
}

# Umami 웹 애널리틱스
analytics.junghanacs.com {
    reverse_proxy umami:3000
}

# Geworfen 어젠다 뷰어
agenda.junghanacs.com {
    reverse_proxy geworfen:3333
}

# # Mattermost 채팅 서버 (비활성)
# chat.junghanacs.com {
#     reverse_proxy mattermost:8065
# }

# # Matrix (Synapse) 홈서버 (비활성)
# matrix.junghanacs.com {
#     reverse_proxy synapse:8008
# }
